/* Style */

strong {font-size: 40px;}

header {text-align: center; color: #1D88E5;}

.row,
header,
h1,
h2,
h3 {background: #efeee7;} 

h1,
h2,
h3 {font-size: 24px; color: #333;
}
    
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1D88E5;
  color: #efeee7;
  text-align: center;
  height: 50px;
}

    

